.main_section{
    /* position: absolute; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* top: 45%;
    left: 45%; */
}

.button {  
    min-width: 268px;
   
}
ul {
    padding: 10px;
}
ul li{
    color: white;
    padding: 10px;

}
   
@media only screen and (max-width: 777px)  {

    .main_section {
        /* position: absolute; */
        /* bottom: 20px; */
        display: grid;
        justify-content: space-around;
        align-items: center;
    }

    .information_section{
        padding: 10px;
    }
    .information_section h1{
        text-align: center;
    }
  .information_section ul li{
    display: flex;
    justify-content: center;
  }
    .main_section a{
        display: flex;
        justify-content: center;
    }
}

/* Mongodb style  */




/* node js style  */




/* Reactjs style  */